/*color and fonts*/

body {

background-color: #F7F9FC;
color: #575F7D;
font-family: Calibri, sans-serif;
font-size: 20px;
font-weight: bold;

}

h1, h2, {

	font-family: "Roboto", sans-serif;
}


h1{
   
   color: green;
   font-weight: 900;
   font-size: 32px;
}

h2{
   color: red;
   font-size: 20px;
   font-weight: lighter;
   font-weight: 500;

}

a {
   font-family: "Roboto", sans-serif;
   text-decoration: none;
   font-weight: 600;
   font-size: 16px;

}

a:hover {
   
   color: #c8ad7f;

}

#Ylan { border-radius: 60%;

}


/* custom design with class */

.container{
   width:  auto;
   margin: auto;

}

@media(max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media(max-width: 500px) {
	.container {
		width: 400px;
	}
}


.card-white {
 background-color: white;
 padding: 40px;
 box-shadow: 0px 10px 30px rgba(0,0,0,0,1)
 border-radius: 4px;
 text-align: center;
 text-align: center;
 margin: 40px auto;
 width: 500px;

}

.img-circle {
 border-radius: 50%;
 width: 90px;
 
 }

.btn-yellow{

   background-color: rgb(249,234,195);
   color: black;
   padding: 15px 20px;
   border-radius: 4px;
}

.btn-yellow: hover{


	background-color: black;
	color: white; 
}

.list-inline{
	list-style: none;
	padding-left: 10px;
}

.list-inline li{
	display: inline;
	padding: 10px;

}

.list-inline i{
	font-size: 50px;
	color: rgb(200, 200, 200);
}

.list-inline i:hover{

	font-size: 50px;
	color: #9370DB;

}


#introduction p {
	margin-bottom: 60px;
}











